* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .carousel {
        background-color: #d3d3d3;
        width: 100%;
        max-width: 600px;
        aspect-ratio: 1/.5;
        position: relative;
        outline: solid #fff;
        outline-offset: 5px;

        .wrapCards {
            width: 100%;
            height: 100%;
            overflow: hidden;

            .cardGrp {
                width: 100%;
                height: 100%;
                display: flex;
                transform: translatex(-100%);

                .imgCard {
                    flex-shrink: 0;
                    width: 100%;
                    height: 100%;

                    img {
                       width: 100%;
                       object-fit: cover; 
                    }
                }
            }

        }

        .larrow,
        .rarrow {
            position: absolute;
            background-color: blue;
            font-size: clamp(2rem, 3vw, 3rem);
            top: 50%;
            transform: translateY(-50%);
        }

        .larrow {

            left: 0;
        }

        .rarrow {
            right: 0;
        }
    }
}